#brand_name {
    color: rgb(244, 13, 48);
}

.navbar {
    transition: background-color 0.8s ease;
}

.scrolled-navbar {
    background-color: rgba(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* ========================================= */

#hero {
    min-height: 100vh;
    background-image: linear-gradient(90deg, #000000a1, transparent), url("../img/hero.jpg");
    background-size: cover;
    background-position: center;

    padding-left: 10%;
}

#hero > div {
    margin-top: 15rem;
}

#hero h1 {
    font-size: 3rem;
}

#hero button {
    font-size: 1.3rem;
}

/* ========================================= */

.card {
    background: radial-gradient(circle at center,rgb(204, 116, 1), rgb(255, 209, 58));
    margin-bottom: 115px;

    transition: box-shadow 0.3s ease;
    transition: transform 0.3s ease;
}

.card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.card-img-top_ {
    max-width: 130%;
    left: -15%;
    margin: 0 auto;
    bottom: 0;
    z-index: 2;
}

.card-img-placeholder {
    height: 230px;
}

.card .card-img-placeholder img {
    transition: transform 0.8s ease;
}

.card:hover .card-img-placeholder img {
    transform: translateY(-8px);
}

.card-rating {
    color: rgb(139, 0, 0);
}

/* ========================================= */

#products-container {
    padding-inline: 1rem;
}

/* ========================================= */

@media (min-width: 992px) {
    .navbar {
        padding-inline: 10rem !important;
    }
}

@media (min-width: 576px) {
    #products-container {
        padding-inline: 5rem;
    }
}

@media (min-width: 1800px) {
    #products-container {
        padding-inline: 12rem;
    }
}